@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  background-color: #191d22;
}

#root {
  height: 100%;
}

.react-dat-gui-relative-position {
  position: relative;
  margin-top: 2em;
  width: 300px;
  min-width: 300px;
  right: 0;
}
